default_language_version:
  python: python3
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-yaml
        args:
          - '--unsafe'
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: detect-private-key

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.10
    hooks:
      - id: ruff-check
        args:
          - '--fix'
          - '--exit-non-zero-on-fix'
      - id: ruff-format

  - repo: https://github.com/adamchainz/blacken-docs
    rev: 1.20.0 # replace with latest tag on GitHub
    hooks:
      - id: blacken-docs
        language: python
        additional_dependencies:
          - black==22.12.0
        args:
          - '--line-length=80'
          - '--target-version=py310'
          - '--skip-errors'

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.44.0
    hooks:
      - id: markdownlint
        args:
          - '--disable'
          - MD013

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.10.7
    hooks:
      - id: uv-lock

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.36.2
    hooks:
      - id: check-renovate
        files: ^renovate.json5$
        language: python
        additional_dependencies:
          - pyjson5==2.0.0
