site_name: Cadwyn

# Repository settings
repo_name: Cadwyn
repo_url: https://github.com/zmievsa/cadwyn

plugins:
  - mike
  - search
  - mkdocs-simple-hooks:
      hooks:
        on_pre_build: "docs.plugin:on_pre_build"

markdown_extensions:
  toc:
    permalink: true
  markdown.extensions.codehilite:
    guess_lang: false
  admonition: null
  codehilite: null
  extra:
  pymdownx.superfences:
    custom_fences:
      - name: mermaid
        class: mermaid
        format: !!python/name:pymdownx.superfences.fence_code_format ""
  pymdownx.tabbed:
    alternate_style: true
  abbr:
  footnotes:
  tables:
  attr_list: null
  md_in_html: null
  mdx_include:
    base_path: docs
theme:
  name: "material"
  features:
    - content.code.annotate
    - content.code.copy
    - content.tabs.link
    - content.tooltips
    - navigation.footer
    - navigation.indexes
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.progress
    - navigation.path
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    - content.footnote.tooltips
    - content.code.select
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/link
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: indigo
      toggle:
        icon: material/toggle-switch-off
        name: Switch to system preference
  font:
    text: Roboto
    code: Roboto Mono

nav:
  - "Home":
      - "index.md"
      - "Contributing": "home/CONTRIBUTING.md"
      - "Changelog": "home/CHANGELOG.md"

  - "Quickstart":
      - "Setup": "quickstart/setup.md"
      - "Tutorial": "quickstart/tutorial.md"

  - "How to...":
      - "how_to/index.md"
      - "Change OpenAPI Schemas":
          - "Add a field": "how_to/change_openapi_schemas/add_field.md"
          - "Remove a field": "how_to/change_openapi_schemas/remove_field.md"
          - "Rename a field": "how_to/change_openapi_schemas/rename_a_field_in_schema.md"
          - "Change field type": "how_to/change_openapi_schemas/change_field_type.md"
          - "Change field constraints or validators": "how_to/change_openapi_schemas/changing_constraints.md"
      - "Change business logic": "how_to/change_business_logic/index.md"
      - "Change endpoints": "how_to/change_endpoints/index.md"

  - "Concepts":
      - "concepts/index.md"
      - "Methodology": "concepts/methodology.md"
      - "Beware of data versioning": "concepts/beware_of_data_versioning.md"
      - "Main App": "concepts/main_app.md"
      - "CLI": "concepts/cli.md"
      - "Schema generation": "concepts/schema_generation.md"
      - "Version Changes": "concepts/version_changes.md"
      - "Endpoint migrations": "concepts/endpoint_migrations.md"
      - "Enum migrations": "concepts/enum_migrations.md"
      - "Schema migrations": "concepts/schema_migrations.md"
      - "API Version header and context variables": "concepts/api_version_header_and_context_variables.md"
      - "Changelogs": "concepts/changelogs.md"
      - "Testing": concepts/testing.md

  - "Theory":
      - "How we got here": "theory/how_we_got_here.md"
      - "Literature": "theory/literature.md"
      - "How to build a versioning framework": "theory/how_to_build_versioning_framework.md"

watch:
  - docs
  - CHANGELOG.md
  - mkdocs.yml
